* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-output {
    display: flex;
    font-size: 1rem;
    padding: 10px 0;
}

.row-output i {
    margin-left: 10px;
}

.personal-data {
    border-bottom: 1px solid black;
    max-height: 150px;
}

li {
    text-align: left;
    padding: 20px 5px;
}

.education {
    border-bottom: 1px solid black;
}

.education-row, .practical-experience-row {
    display: flex;
    gap: 16px;
}

.education-text, .practical-experience-text {
    padding-top: 10px;
    flex: 1;
}

.delete {
    background-color: darkred;
    color: white;
}

.update {
    background-color: limegreen;
    font-weight: bold;
}

.practical-experience-row button {
    padding: 10px;
}
.control {
    display: flex;
    gap: 16px;
}